body{
    background-image: url('background.jpg');
}
.main-div{
    font-style: italic;
    display: flexbox;
    justify-content: center;
}
.main-div h1{
    display: flex;
    justify-content: center;
    font-family: 'Langar', cursive;
}
.main-div p{
    display: flex;
    justify-content: center
}
.io{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
textarea{
    display: flex;
    justify-content: center;
    width: 70%;
    height: 24vh;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-family: 'Langar', cursive;
}
#tran{
    border: solid 2px chocolate;
    border-radius: 15px;

}